@import 'variables'

.container
  max-width: 1280px
  padding: 0

.goods-cards
  display: grid
  grid-template-columns: repeat(4, auto)
  grid-template-rows: repeat(auto-fill, 470px)
  gap: 25px

.goods-card
  width: 300px
  height: 470px
  background: linear-gradient(98.34deg, #FFFFFF 0%, #FFFFFF 100%)
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.05)
  border-radius: 30px
  font-family: 'Roboto'
  font-weight: 400
  font-size: 18px
  line-height: 32px
  &.hide
    display: none


.card-info
  padding: 0 27px

.card-image
  position: relative
  width: 100%
  height: 280px
  padding: 10px
  overflow: hidden
  img
    width: 100%

.product-image
  width: 260px
  height: 260px
  background: white
  object-fit: cover

.product-discount
  position: absolute
  bottom: 20px
  right: 20px
  z-index: 100
  color: $orange

.product-name
  text-transform: uppercase
  font-weight: 400
  font-size: 18px
  line-height: 32px
  margin: 0

.product-rating,
.product-brand
  font-size: 16px
  color: $gray

.product-conrolls
  display: grid
  grid-template-columns: 3fr 1fr
  grid-template-rows: 1fr 1fr

.product-price
  grid-column: 1 / 2
  grid-row: 1 / 1
  justify-self: start
  align-self: center
  font-size: 30px
  line-height: 32px
  font-weight: 700

.add-trolley-button
  grid-column: 2 / 3
  grid-row: 1 / 3
  justify-self: end
  width: 48px
  height: 48px
  border-radius: 50%
  background: url('./../assets/trolley.svg')
  background-color: $orange
  background-repeat: no-repeat
  background-position: center

  &:hover
    box-shadow: 0 0 5px 3px $gray

.more-info-button
  grid-column: 1 / 2
  grid-row: 2 / 3
  justify-self: start
  border: 2px solid $orange
  border-radius: 20px
  padding: 0 10px
  margin: 0

  &:hover
    background: $orange