<section class="description-section">
    <div class="container">
        <!-- <div class="way"></div> -->
        <!-- <div class="product-full-card">
            <div class="product-gallery">
                <div class="product-images"></div>
                <img src="./../assets/logo.png" alt="big picture">
            </div>
            <div class="product-full-info">
                <ul class="product-info-list list">
                    <li class="product-item title">
                        <span class="title-value">iPhone 9</span>
                    </li>
                    <li class="product-item description">
                        Описание: <span class="description-value"></span>
                    </li>
                    <li class="product-item discount-percentage">
                        Скидка: <span class="discount-percentage-value"></span>
                    </li>
                    <li class="product-item rating">
                        Рейтинг: <span class="rating-value"></span>
                    </li>
                    <li class="product-item stock">
                        На складе: <span class="stock-value"></span>
                    </li>
                    <li class="product-item brand">
                        Марка: <span class="brand-value"></span>
                    </li>
                    <li class="product-item category">
                        Категория: <span class="category-value"></span>
                    </li>
                </ul>
            </div>
            <div class="product-price-contols">
                <div class="product-price">
                    <span class="price-value">599</span>
                </div>
                <button class="add-trolley-button button"></button>
                <button class="buy-button button">Перейти к покупке</button>
            </div>
        </div> -->
</section>