<section class="goods-section">
    <div class="container">
        <h2>Товары в наличии</h2>
        <div class="goods-cards">
            <div class="goods-card">
                <div class="card-image">
                    <img class="product-image" src="src/assets/test.jpg" alt="item" width="280" height="280">
                    <div class="product-discount">12%</div>
                </div>
                <div class="card-info">
                    <h3 class="product-name">Drop</h3>
                    <div class="product-brand">Samsung</div>
                    <div class="product-rating">4.5</div>
                    <div class="product-conrolls">
                        <div class="product-price">999$</div>
                        <button class="more-info-button button">More info</button>
                        <button class="add-trolley-button button"></button>
                    </div>
                </div>
            </div>
        </div>
</section>