<header class="header">
  <section class="header-top">
    <div class="container">
      <div class="logo">
        <div class="header-logo"></div>
      </div>
      <nav class="menu">
        <ul class="menu-list list">
          <li class="menu-item"><a href="#" class="menu-link">Каталог</a></li>
          <li class="menu-item"><a href="#" class="menu-link">Доставка</a></li>
          <li class="menu-item"><a href="#" class="menu-link">Условия</a></li>
          <li class="menu-item"><a href="#" class="menu-link">Контакты</a></li>
        </ul>
      </nav>
      <div class="phones">
        <div class="phone-numbers">
          <span class="number">+ 375 736 463 64 72</span> / <span class="number">+ 375 736 463 64 72</span>
        </div>
        <a class="phones-link" href="#">Заказать звонок</a>
      </div>
    </div>
  </section>
  <section class="header-bottom">
    <div class="container">
      <div class="left-burger"></div>
      <form class="search-form">
        <input class="search-field" type="text" name="search-field" id="search-field" placeholder="Что желаете найти?">
        <input class="search-button button" type="button">
      </form>
      <div class="user-buy-list">Вставить список покупок</div>
      <div class="user-goods-controls">
        <button class="favorite-button button"></button>
        <button class="trolley-button button"></button>
        <button class="account-button button"></button>
      </div>
    </div>
  </section>
</header>